.contactIcon {
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.contactIcon:hover {
  transform: scale(1.2);
  color: #f97c22 !important;
}

.animate-section {
  transform: translateX(50%);
  transition: transform 1s ease-out;
}

.animate-section.visible {
  transform: translateX(0);
}

