.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: fadeIn 0.3s ease;
}

.modal-box {
  background: #111;
  padding: 24px 32px;
  border-radius: 12px;
  width: 90%;
  max-width: 380px;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.5);
  animation: popIn 0.25s ease;
}

.modal-box h2 {
  margin-bottom: 12px;
  font-size: 1.4rem;
}

.modal-box p {
  margin-bottom: 24px;
  color: #ccc;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.btn-cancel,
.btn-confirm {
  flex: 1;
  padding: 10px 0;
  border-radius: 8px;
  font-weight: 600;
  transition: 0.2s ease;
}

.btn-cancel {
  background: #333;
  color: #ddd;
}

.btn-cancel:hover {
  background: #444;
}

.btn-confirm {
  background: #18b213;
  color: #fff;
}

.btn-confirm:hover {
  background: #3fff39;
}

/* animações */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popIn {
  from {
    transform: scale(0.85);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
